<section class="nuestras-marcas">
    <article class="marca-titulo">
        <h3>Nuestras sponsors</h3>
    </article>
    <article class="marcas">
        <div class="contenedor-logo">
            <img class="logo-royal-canin" src="assets/imagenes/marca-1.png" alt="royal-canin">
        </div>
        <div class="contenedor-logo">
            <img class="logo-purina" src="assets/imagenes/marca-2.png" alt="purina">
        </div>
        <div class="contenedor-logo">
            <img class="logo-nexgard" src="assets/imagenes/marca-3.png" alt="nexgard">
        </div>
        <div class="contenedor-logo">
            <img class="logo-bravexto" src="assets/imagenes/marca-4.png" alt="bravexto">
        </div>
        <div class="contenedor-logo">
            <img class="logo-purina-pro-plan" src="assets/imagenes/marca-5.png" alt="purina-pro-plan">
        </div>
        <div class="contenedor-logo">
            <img class="logo-whiskas" src="assets/imagenes/marca-6.png" alt="whiskas">
        </div>
    </article>
</section>