<section class="nuestras-marcas">
    <article class="marca-titulo">
        <h3 appBigtittle>Nuestros sponsors</h3>
    </article>

    <article class="marcas">
        <div class="contenedor-logo">
            <img src="assets/imagenes/marca-1.png" alt="Royal Canin" width="180" height="80" loading="lazy">
        </div>
        <div class="contenedor-logo">
            <img src="assets/imagenes/marca-2.png" alt="Purina" width="180" height="80" loading="lazy">
        </div>
        <div class="contenedor-logo">
            <img src="assets/imagenes/marca-3.png" alt="NexGard" width="180" height="80" loading="lazy">
        </div>
        <div class="contenedor-logo">
            <img src="assets/imagenes/marca-4.png" alt="Bravecto" width="180" height="80" loading="lazy">
        </div>
        <div class="contenedor-logo">
            <img src="assets/imagenes/marca-5.png" alt="Purina Pro Plan" width="180" height="80" loading="lazy">
        </div>
        <div class="contenedor-logo">
            <img src="assets/imagenes/marca-6.png" alt="Whiskas" width="180" height="80" loading="lazy">
        </div>
    </article>
</section>